<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shiva First Node Api Server</title>
  </head>
  <body>
    {{> header}}

    <p>Some text here</p>

    {{> footer}}
  </body>
</html>
